.cache
.mypy_cache
.eggs
.idea
*.pyc
bin
dist
docs/_build
include
lib
lib64
man/man1/tqdm.1
MANIFEST
pip-selfcheck.json
pyvenv.cfg
requirements.txt
TAGS
yangson.egg-info
.kdev4
*.kdev4
.pybuild
share

